{% extends "base.html" %}

{% block content_blank %}

{% for section, quest in quests %}

        <h1>{{section}}</h1>
        {% for question in quest %}
            <p>{{question}}</p>
            {% for i in range %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="{{section}}_{{i}}" id="{{section}}_{{i}}" value={{i}}>
                <label class="form-check-label" for="{{section}}_{{i}}">
                  {{i}}
                </label>
            </div>
            {% endfor %}
        {% endfor %}

{% endfor %}
<button class="btn btn-primary" type="submit">Submit form</button>

{% endblock %}

{% comment %} completar el formulario para que solo se puede seleccionar un valor a la vez 

NOta idea: se puede hacer distintos archivos para cada seccion, cada boton de submit redireccionara a la siguiente seccion
por cada validacion solamente tener guardado en memoria las respuestas en memoria, siendo entonces que hay que pasar las respuestas
dadas a la sigiente vista

Mantener un boton para cancelar el formulario, entonces se puede hacer que la base para los html de los forms sea el mismo actual form.html
{% endcomment %}