{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content_blank %}

<div class="alert alert-warning" role="alert" style="align-text: center">
    {{error}}
</div>

<form method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 30rem; margin-top: 10rem">
        <div class="card-body">
          <h5 class="card-title">Ingrese sus Credenciales</h5>
          {{ form | crispy }}
          <a href="#" class="card-link">Inicio</a>
          <a href="#" class="card-link">Registrarse</a>
          <button class="btn btn-sm btn-primary float-end" type="submit">Iniciar Sesión</button>
        </div>
      </div>

</form>


{% endblock %}