
.extra-style-button-rigth{
  margin-left: 90%;
}

.extra-style-div-form{
  margin-top: 1rem;
}

.extra-style-button-form{
  margin-top: 3rem;
}

.container-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.extra-select{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.button-nav{
  border: none; 
  background: none;
}

.img-form{
  width: 10%;
  margin: 0;
}

.search{
  width: 40%;
}