{% extends "global/base.html" %}

{% load static %}

{% block content_blank %}

    
<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>
      <span class="fs-4">Rueda de la Vida</span>
    </a>
  </header>

  <main>
    <h1>¿Qué es la rueda de la vida?</h1>
    <p class="fs-5 col-md-8">La rueda de la vida es una herramienta visual de autodiagnóstico, a través de la cual, las personas tienen la oportunidad de observar de manera gráfica cada una de las áreas de su vida, compararlas, reconocer el equilibrio o desequilibrio que existe entre éstas y utilizarlo como base para establecer un plan de acción.</p>

    <div class="mb-5">
      <a href="{% url "examples" %}" class="btn btn-primary btn-lg px-4">Ver ejemplos</a>
    </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2>¿No tienes cuenta?</h2>
        <p>Puedes registrarte en el siguiente enlace:</p>
        <ul class="icon-list ps-0">
          <li class="d-flex align-items-start mb-1"><a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="{% url "register" %}">
            Registrate aquí
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
          </a></li>
        
        <p>Si ya tienes cuenta inicia sesion en el siguiente enlace:</p>
        <li class="d-flex align-items-start mb-1"><a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="{% url "login" %}">
          Inicia sesión aquí
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
        </a></li>
      </ul>
      </div>

      <div class="col-md-6">
        <h2>Guías</h2>
        <p>Puedes leer mas informacion sobre este proyecto en el siguiente enlace:</p>
        <ul class="icon-list ps-0">
          <li class="d-flex align-items-start mb-1"><a class="icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="{% url "guide" %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
            Guía
          </a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>Llenar una rueda</h2>
        <p>Puedes llenar una rueda sin registrarte:</p>
        <ul class="icon-list ps-0">
          <li class="d-flex align-items-start mb-1"><a class="icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" href="{% url "form" %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
            Llenar una rueda
          </a></li>
        </ul>
      </div>
    </div>
  </main>
</div>



    {% endblock content_blank %}

