{% extends "psi_user/base_dashboard.html" %}

{% load static %}

{% block content %}

<h1>Usuarios integrados</h1>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#integrationModal">
    Solicitar integracion
  </button>
  
  <div class="modal fade" id="integrationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Buscar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">N° de Documento</label>
              <input data-bs-container="body" data-bs-toggle="popoverUser" data-bs-placement="top" data-bs-content="Recuerda que debe el usuario debe estar registrado" type="text" class="form-control" id="recipient-name" name="document">
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary">Cerrar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>



<div class="container">
{% for client in clients %}

<div class="card mb-2" style="margin-top: 2rem; max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% comment %} <img src="..." class="img-fluid rounded-start" alt="..."> {% endcomment %}
        <svg class="img-fluid rounded-start" xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person-badge-fill" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
          </svg>
      </div>
      <form method="post">
        {% csrf_token %}
      <div class="col-md-8 text-center" style="margin-top: 2rem;">
        <div class="card-body">
          <h5 class="card-title">{{client.first_name.title}} {{client.last_name.title}}</h5>
          <p class="card-text">Email: <a href="mailto:{{client.email}}">{{client.email}}</a></p>
          <button id="integrate_{{client.id}}" value="{{client.id}}" name="integrate" type="submit" class="btn btn-primary">Ver mas detalles</button>
          <p class="card-text"><small class="text-body-secondary">Se unió: {{client.date_joined}}</small></p>
        </div>
      </div>
    </form>
    </div>
  </div>
  {% endfor %}
</div>



{% endblock content %}

{% block extend_scripts %}

<script>
  let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popoverUser"]'))
  let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

{% endblock extend_scripts %}