{% extends "global/base.html" %}

{% block content_blank %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary extra-style-button-rigth" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Cancelar
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cancelar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        {% csrf_token %}
      <div class="modal-body">
        ¿Quiere dejar de llenar el formulario?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Seguir en el formulario</button>
        <button type="submit" class="btn btn-primary" name="exit" value="exit">Regresar</button>
      </div>
    </form>
    </div>
  </div>
</div>


<div class="container-form">

<div class="card text-center" style="gap: 3rem; width: 50%; margin-left: 25%">
  <div class="card-header">
    Cuestionario
  </div>
  <div class="card-body" style="gap: 3rem;">
    <h5 class="card-title">Responde cada una de las preguntas con cuidado</h5>
    <form method="post">
      {% csrf_token %}
      
      {% for section, quest in quests %}
        <div class="card text-center"  style="gap: 5px;">
          <div class="card-body" style="gap: 3rem; margin-top: 2rem;">
            <div class="alert alert-primary" role="alert">
              <h1 class="fw-semibold">{{section.title}}</h1>
            </div>
        {% for question in quest %}
          <p class="card-text">{{question}}</p>
          <div class="extra-select">
          <select class="form-select" aria-label="Default select example" style="width:10rem;" name="{{question}}">
            {% for i in range %}
            <option value={{i}}>{{i}}</option>
            {% endfor %}
        </select>
      </div>
        {% endfor %}
      </div>
        <div class="card-footer text-muted extra-style-div-form">
          Selecciona un puntaje del 1 al 10
        </div>
      </div>
        {% endfor %}
        <input name="user" value="{{anonymous}}" class="d-none">
        <button class="btn btn-primary extra-style-button-form" type="submit">Guardar</button>
      </form>

      {% if anonymous %}
      
      <a href="{% url "home" %}" class="btn btn-primary extra-style-button-form">Volver al inicio</a>

      {% endif %}
  </div>
</div>
  
</div>

{% endblock %}


{% comment %} completar el formulario para que solo se puede seleccionar un valor a la vez 

NOta idea: se puede hacer distintos archivos para cada seccion, cada boton de submit redireccionara a la siguiente seccion
por cada validacion solamente tener guardado en memoria las respuestas en memoria, siendo entonces que hay que pasar las respuestas
dadas a la sigiente vista

Mantener un boton para cancelar el formulario, entonces se puede hacer que la base para los html de los forms sea el mismo actual form.html
{% endcomment %}